*.class

# Package Files #
*.jar
*.war
*.ear
/challenge_1_temp_sensors/GUI/build/

*/*/suite/
*suite/
*/suite/*
*.idea/
*/target/*
*.iml
*.ipr
/challenge_2/LED/LEDHost/build/
/challenge_2/LED/LEDSpot/build/
/challenge_2/sunspot/target
/challenge_2/sunspot/plugins
